body {
  background: rgb(0, 0, 0);
}

._container {
  position: relative;
}
._container > * {
  position: block;
  margin: auto;
  max-width: min(1014px, calc(100% - 1rem));
}

#carousel {
  max-width: 1200px !important;
}

.hero-bg,
#header {
  max-width: 100%;
}
.hero-bg {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9) 1%,
      rgba(0, 0, 0, 0.7) 99%
    ),
    url("../public/img/MG-en-20250519-TRIFECTA-perspective_46262a13-7894-43ae-ac23-4e444620b06b_large.jpg");
}
